* {box-sizing: border-box;}
body{
    background-color: #c3c3c3;
}
img {
    display: block;
    
}
a{
    display: block;
    text-decoration: none;
}
.flex{
    display: flex;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-center{
    align-content: center;
    justify-content: center;
}