@define-mixin small {
	@media (min-width:500px) {
		@mixin-content;
	}
}

@define-mixin medium {
	@media (min-width: 800px) {
		@mixin-content;
	}
}

@define-mixin large {
	@media (min-width: 1200px) {
		@mixin-content;
	}
}

@define-mixin bgeffect{
	background-color: #222;
	background-blend-mode: overlay;
	background-size: cover;
}

@define-mixin bgeffect-light{
	background-color: #6a6a6a;
	background-blend-mode: overlay;
	background-size: cover;
}

@define-mixin hrAnim{
		width: 0rem;
		animation-delay: 1s;
		animation-duration: 2s;
		animation-fill-mode: forwards;
}

@define-mixin secTitle{
		width: 30vw;
		margin: 0 auto 1rem auto;
		padding-top: 1rem;
		text-align: center;
		font-family: 'Lora', serif;
		font-weight: 400;
		color: $main;
}

@define-mixin masbox {
	
	
}

















