@define-mixin small {
	@media (min-width:500px) {
		@mixin-content;
	}
}

@define-mixin medium {
	@media (min-width: 850px) {
		@mixin-content;
	}
}

@define-mixin large {
	@media (min-width: 1200px) {
		@mixin-content;
	}
}

@define-mixin bgeffect{
	background-color: rgba(0,0,0,.6);
	background-blend-mode: overlay;
	
}

@define-mixin bgeffect-light{
	background-color: rgba(0,0,0,.3);
	background-blend-mode: overlay;
	
}

@define-mixin secTitle{
		width: 50%;
		margin: 0 auto 1rem auto;
		padding: 1rem 0;
		text-align: center;
		font-family: 'Lora', serif;
		font-weight: 400;
		color: #eee;
	@mixin medium {
		width: 30%;
	}
}

@define-mixin border {
	
	border-bottom: 2px;
	border-bottom-color: #eee;
	border-bottom-style: solid;
	border-width: thin;
	
	
}

















