.about{
	position: relative;
	height: auto;
	background: url('../../assets/images/beach640x426.jpg') center 30% no-repeat;
	padding-bottom: 1rem;
	background-size: cover;
	@mixin bgeffect-light;
	
	@mixin medium {
		background: url('../../assets/images/beach1280x853.jpg') center 30% no-repeat;
	background-size: cover;
	@mixin bgeffect-light;
	}
	
	@mixin large {
	background: url('../../assets/images/beac1920x1280.jpg') center 30% no-repeat;
	background-size: cover;
	@mixin bgeffect-light;
		
	}
	
	
	&__title {
		@mixin secTitle;
		color: #222;
		@mixin border;
	}
	
	&__desc {
		width: 75vw;
		padding: .5rem;
		margin: .5rem auto;
		line-height: 1.5;
		background-color: rgba($main,.65);
		color: #eee;
		font-family: 'Montserrat', sans-serif;
		font-size: 1rem;
        font-weight: 400;
		text-align: center;
		/*border-radius: 1rem;*/
		@mixin medium {
			width: 75vw;
			padding: 1rem 4rem;
			font-size: 1.1rem;
		}
		@mixin large {
			width: 57vw;
			padding: 1rem 2rem;
		}
		&__title {
			font-family: 'Montserrat', sans-serif;
		}
		
	}
	&__img {
			position: relative;
			width: 130px;
			height: 130px;
			margin-top: 1rem;
			margin-bottom: 2rem;
			border: 5px solid rgba(92, 92, 92, 0.25);
			border-radius: 50%;
			left: 50%;
			transform: translateX(-50%);
		@mixin medium{
			width: 150px;
			height: 150px;
		}
		}
		
	
}