.gallery {
	height: 100vh;
	background-color: #222;
	
	&__title{
		@mixin secTitle;
		@mixin border;
	}
	
	&__picbox {
		display: flex;
		
		flex-wrap: wrap;
		& img{
			margin: .5rem;
			max-height: 250px;
			/*border: 3px solid $main;*/
		}
		&__one {
			flex: 2 1 100px;
			height: ;
		}
		&__two {
			flex: 1 1 100px;
		}
		&__three {
			flex: 6 2 100px;
		}
		&__four {
			flex: 1 1 100px;
		}
		&__five {
			flex: 4 1 100px;
		}
		&__six {
			flex: 2	 1 100px;
		}
	}
	
}