.gallery {
	height: auto;
	background-color: #222;
	
	&__title{
		@mixin secTitle;
		@mixin border;
	}
	
	&__picbox {
		display: flex;
		
		flex-wrap: wrap;
		& img{
			margin: .5rem;
			max-height: 250px;
			transition: transform .8s ease-out;
			&:hover{
				transform: scale(1.2);
			}
		}
		
	}
	
}