.hero {
	 position: relative;
    height: 100vh;
    background: url('../../assets/images/spa-640x426.jpg') center center no-repeat;
    @mixin bgeffect;
	background-size: cover;
    
    @mixin medium {
      background: url('../../assets/images/spa-1280x853.jpg') center center no-repeat;
      @mixin bgeffect;
      }
    @mixin large {
      background: url('../../assets/images/spa-1920x1280.jpg') center center no-repeat;
      @mixin bgeffect;
    }
	
	
.menu-bar {
		width: 20px;
		height: 20px;
		position: absolute;
		top: 1.5rem;
		left: 1.5rem;
		z-index: 20;
		cursor: pointer;
		transition: transform .3s ease-out;
		animation: barUp 2s ease-out 1s;
		animation-fill-mode: backwards;
		 
	&:hover {
		transform: scale(.9);
	}
		
		&::before {
			content: "";
			position: absolute;
			top:8px;
			left:0;
			width: 20px;
			height: 3px;
			background-color: #fff;
			transition: all .1s ease-out;
			
		}
		&--bar{
			
			position: absolute;
			top:0px;
			left:0;
			width: 20px;
			height: 3px;
			background-color: #fff;
			transition: all .1s ease-out;
	}
			
			&::after {
			content: "";
			position: absolute;
			top:16px;
			left:0;
			width: 20px;
			height: 3px;
			background-color: #fff;
				transition: all .1s ease-out;
			}
			
		
	&--close {
		&::before {
			
				transform: rotate(-45deg);
				top: 5px;
				background-color: #fff;
			}
		.menu-bar--bar {
			
			transform: rotate(45deg);
			top: 5px;
			background-color: #fff;
		}
		&::after {
				opacity: 0;
			}
		
	}
	
	}

   &__text{
        width: 100%;
        position: absolute;
       	top: 10%;
	   left: 50%;
	   transform: translateX(-50%);
        color: #eee;
	   padding: 1rem;
        text-align: center;
	   
       @mixin medium {
         position: relative;
        
       }    

      &__title{
		 width: 100%; 
		margin: 0 auto;
        font-size: 3rem;
        border-top: 3px solid $main;
        border-bottom: 3px solid $main;
        padding: 1rem 0;
        font-family: 'Lora', serif;
		opacity: 0;
		  @mixin medium {
		  	width: 60%;
		  }
		  animation-name: fadeText;
		  animation-delay: 1s;
		  animation-duration: 2s;
		  animation-fill-mode: forwards;
		  animation-timing-function: ease-in-out;
      }
      &__subtitle{
		  
          font-family: 'Tangerine', cursive;
		  font-size: 3rem;
          font-weight: 500;
		  opacity: 0;
		  animation-name: fadeText;
		  animation-delay: 2s;
		  animation-duration: 2s;
		  animation-fill-mode: forwards;
		  animation-timing-function: ease-in-out;
		 
      }
   }

}
@keyframes fadeText {
	100%{
		opacity: 1;
	}
}
@keyframes barUp {
	0% {
		opacity: 0;
		transform: rotate(720deg) scale(0);
	}
	100% {
		opacity: 1;
		transform: rotate(0) scale(1);
	}
	
	
}