.hr{
	color: $main;
	
	&--small{
		width: 0rem;
		animation-name: hrSmall;
		animation-delay: 1s;
		animation-duration: 2s;
		animation-fill-mode: forwards;
	}
}
@keyframes hrSmall {
	100%{
		width: 10rem;
	}
}