.hr{
	color: $main;
	
	&--small{
		animation-name: hrSmall;
		@mixin hrAnim;
	}
	&--medium{
		animation-name: hrMed;
		@mixin hrAnim;
	}
	
}

@keyframes hrSmall {
	100%{
		width: 10rem;
	}
}

@keyframes hrMed {
	100%{
		width: 15rem;
		
	}
}
