.mastypes{
	height: 100vh;
	background: url('../../assets/images/mastype-small.jpg') center top no-repeat;
	background-size: cover;
	@mixin bgeffect;
	
	@mixin medium {
		background: url('../../assets/images/mastype-medium.jpg') center top no-repeat;
	background-size: cover;
	@mixin bgeffect;
	}
	@mixin large {
		background: url('../../assets/images/mastype-large.jpg') center top no-repeat;
	background-size: cover;
	@mixin bgeffect;
	}
	
	&__title {
		@mixin secTitle;
		@mixin border;
	}
	
	&__boxes {
		display: flex;
		flex-direction: column;
		
		margin-top: 1.5rem;
		@mixin medium{
			float: left;
		}
	}
	
	&__box {
		height: 50px;
		width: 100%;
		
		background-color: $main;
		color: #eee;
		margin-bottom: 3px;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		font-size: 1rem;
        font-weight: 400;
		cursor: pointer;
		transition: all .3s ease-out;
		
		@mixin medium{
		height: 60px;
		width: 300px;
		
		font-size: 1.1rem;
		}
		
		
		&:hover {
			background-color: rgba($main, .5);
		}
	}
	
	&__inload{
		width: 100%;
		height: auto;
		transition: all .6s ease-out;
		@mixin medium {
			width: 55%;
			float: right;
			margin: 0rem 3rem auto 0;
		}
		@mixin large {
			margin: 0rem 5rem auto 0;
		}
		
		&__par {
			color: #fff;
			font-family: 'Montserrat', sans-serif;
			font-size: 1.2rem;
        	font-weight: 400;
			line-height: 1.4;
			text-align: justify;
		}
	}
	
	&--active {
		background-color: rgba($main, .5);
		color: #fff;
		margin-left: .3rem;
		border: 1px solid rgba(255, 255, 255, 0.53);
		border-width: thin;
	}
}