.nav {
	
    display: flex;
    padding: 2rem auto;
	margin-bottom: 2rem;
    align-items:center;
    justify-content: flex-center;
	animation-name: fadeNav;
	animation-delay: 3s;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
   	transition: transform .5s ease-out;
     
    a { 
		margin-right: 1rem;
		@mixin medium{
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        margin-right: 2rem;
        font-size: 1.2rem;
        color: $main;
        padding: .9rem;
		position: relative;
		transition: color .3s ease-out;	
		}
			
    }

	
}

