.nav {
	display: none;
	@mixin medium {
    display: flex;
    padding-top: 3rem;
    align-items:center;
    justify-content: flex-center;
    }
     
    a{ 
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        margin-right: 2rem;
        font-size: 1.4rem;
        color: $main;
        padding: .5rem;
    }
}
