.nav {
	
	opacity: 0;
    display: flex;
    padding-top: 3rem;
	margin-bottom: 2rem;
    align-items:center;
    justify-content: flex-center;
	animation-name: fadeNav;
	animation-delay: 3s;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
   
     
    a { 
		margin-right: 1.2rem;
		@mixin medium{
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        margin-right: 2rem;
        font-size: 1.4rem;
        color: $main;
        padding: .5rem;
		position: relative;
			
		}
		
		
    }
	
}
.nav a.active{
	color: #c3c3c3;
	letter-spacing: 1px;
}

/*.list::before{
	position: absolute;
	top: 3.5rem;
	@mixin medium{
	content:'';
	display: inline-block;
	
	top: 2.5rem;
	left:50%;
	width: 10px;
	height: 10px;
	background-color: $main;
	border-radius: 50%;
	color: #fff;
	}
}*/


@keyframes fadeNav{
	100%{
		opacity: 1;
		
	}
}
