.prices{
	
	position: relative;
	height: auto;
	padding-bottom: 1rem;
	background: url('../../assets/images/shell640x426.jpg') center top no-repeat;
	background-size: cover;
	@mixin bgeffect;
	@mixin medium {
		background: url('../../assets/images/shells1280x853.jpg') center center no-repeat;
		background-size: cover;
	@mixin bgeffect;
	}
	@mixin large{
		background: url('../../assets/images/shells1920x1280.jpg') center top no-repeat;
		background-size: cover;
		height: 100vh;
		@mixin bgeffect;
		clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
	}
	
	
	.mainService{
		width: 90vw;
		color: #eee;
		text-align: center;
		margin: 4rem auto 0 auto;
		background: rgba($main, .3);
		padding: 1rem;
		font-family: 'Montserrat', sans-serif;
		border-radius: 1rem;
		@mixin medium {
			width: 70vw;
			padding-top: 1rem;
			padding-bottom: 1rem;
		}
		@mixin large {
			width: 50vw;
		}
		
		&__title{
			font-family: 'Montserrat', sans-serif;
			font-weight: 300;
		}
	}
	
	span{
		color: $main;
		font-size: 1.3rem;
	}
	
	&__title {
		@mixin secTitle;
		@mixin border;
	}
}